.about p {
  white-space: pre-wrap;
}

.about {
  width: 80%;
  padding: 48px;
  margin: auto;
  margin-top: 12px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px white;
}

@media only screen and (max-width: 1400px) {
  .about {
    width: 100%;
  }
}
