.navigation {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 5px white;
}

.home {
  padding: 10px;
  height: 30px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.home img {
  max-width: 50px;
}

.home:hover {
  cursor: pointer;
}

.header {
  margin-left: 20px;
  font-weight: 100;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

@media only screen and (max-width: 700px) {
  .header {
    display: none;
  }

  .navigation ul .button {
    width: 90px;
    padding: 6px 12px;
    text-align: center;
  }
}

@media only screen and (max-width: 620px) {
  .navigation {
    max-width: 100%;
  }
  .header {
    display: none;
  }
}
