.editor-container {
  box-sizing: border-box;
  padding: 40px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
  width: 80%;
  box-shadow: 0px 0px 5px white;
}

.post-form-input {
  height: 40px;
  width: 100%;
  margin: 10px 0px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

@media only screen and (max-width: 900px) {
  .editor-container {
    width: 100%;
  }
}
