@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(./fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

* {
  font-family: Roboto;
}

body {
  background-image: url("./images/1295942.jpg");
  margin: 0px;
}

.tox-notifications-container {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 48px;
}

.button {
  text-align: center;
  background-color: #802c6e;
  border: 1px solid #802c6e;
  padding: 12px;
  border-radius: 3px;
  color: white;
  font-weight: 100;
  width: 150px;
  font-family: "Roboto";
  margin-left: auto;
  margin-right: 10px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-height: 900px) {
  .container {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
  .header {
    display: none;
  }
  .editor-container {
    margin-top: 0px;
  }
}
