@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(./fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

body {
  background-image: url("./images/1295942.jpg");
  font-family: Roboto;
}

.home:hover {
  cursor: pointer;
}

.post-preview-container {
  width: 70%;
  color: white;
  margin: auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tox-notifications-container {
  display: none;
}

.editor-container {
  border-radius: 3px;
  background-color: white;
  width: 50%;
  box-shadow: 0px 0px 5px white;
}

.post-preview {
  display: flex;
  border-radius: 3px;
  width: 100%;
  background-color: white;
  height: 300px;
  margin-bottom: 24px;
  box-shadow: 0px 0px 5px white;
  overflow: hidden;
}

.post-preview-small {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: white;
  width: 50%;
  height: 350px;
  box-shadow: 0px 0px 5px white;
  overflow: hidden;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
